


@media screen and (max-width: 480px) {
	body{
		margin: 0px;
		width: 100%;
	}

	.portada,.banner{
	display: none;
}
nav ul{
	position: fixed;
		list-style: none;
		width: 100%;
	}
	.navegacion ul{
		width: 100%;
		position: fixed;
		background-color:#CE7D35;
	}
	.menu li {
    position: initial;
    display: inline-block;
    background-color: black;
    padding: 0px 80px;
    margin-left: 0px;
		background-color:#CE7D35;
		width: 5%;
	}
	.menu li a{
		font-size: 14px;
		display: inline-block;
		padding: 0;
	}
	.submenu {
		position: absolute;
		background-color: white;
		color: black;
	}
	.submenu li{
 margin: 14px 27px;
}

	.centrocate ul{
		margin: 140px 0px;
		width: 100%;
	}
	.centrocate {
	margin: 77px -118px;
	width: 100%;
	 padding: 119px;
}

	.centrocate ul li{
		margin: 0px 0px;
		width: 100%;
	}
	.centrocate ul li img{
		margin: 20px 0px;
		width: 80%;
	}
.centrocate  dl dt{
	margin: 68px 54px;
	width: 100%;
	}
}
.centrocate dl dd{
	margin: -48px 5px;
	width: 97%;
}
	.centro{
		margin: 0 -42px;
		width: 100%;
	}
	.centro ul{
		padding: 50px;
		margin: 48px -52px;
		font-size: 0;
		list-style-type: none;
	}
	.centro li{
		display: inline-block;
		box-sizing: border-box;
	}

	.centro li h3{
		font-size: 28px;
		margin: 0px 67px auto;
		position: inherit;
	}


	.centro img{
		width: 100%;
		padding: 0;
		margin: 0;
		}
.centro ul li{
	width: 50%;
}
textarea{
	width: 90%;
}
footer{
	margin: -58px -371px;
}
.centro ul li a img{
	width: 90%;
}
footer p{
	margin-left: 339px;
}
.navegacion {
    position: relative;
    width: 100%;
    margin: 0px 0px auto;
    background: black;
