


@media screen and (max-width: 360px) {
	body{
		margin: 0px;
	}

	.portada,.banner{
  display: none;
}
nav ul{
	position: fixed;
    list-style: none;
		width: 100%;
	}
	.navegacion ul{
		margin: 54px -349px;
		width: 100%;
		position: fixed;
		background-color:#01c0ee;
	}
	.menu li{
		width: 100%;
  background-color: #01c0ee;
   margin: 2px 31px;
   display: inline;
	}
	.menu li a{
		font-size: 14px;
		display: inline-block;
		padding: 0;
	}
	.submenu {
		position:absolute;
		width: 0px 0px;
	}
	.submenu li{
		margin: 6px 8px;

	}
	.centrocate ul{
		margin: 140px 0px;
		width: 100%;
	}
	.centrocate {
	margin: 77px -118px;
	width: 100%;
	 padding: 119px;
}

	.centrocate ul li{
		margin: 0px 0px;
		width: 100%;
	}
	.centrocate ul li img{
		margin: 20px 0px;
		width: 80%;
	}
.centrocate  dl dt{
	margin: 68px 54px;
	width: 100%;
	}
}
.centrocate dl dd{
	margin: -48px 5px;
  width: 97%;
}
	.centro{
		margin: 0 -42px;
		width: 100%;
	}
	.centro ul{
		padding: 0px;
	  margin: 132px 0px;
		font-size: 0;
		list-style-type: none;
	}
	.centro li{
		display: inline-block;
		box-sizing: border-box;
	}

	.centro li h2{
		font-size: 28px;
		margin: 0px 80px;
    width: 100%;
		position: inherit;
	}

.centrocate label{
	padding: 0px 50px;
}
	.centro img{
		width: 100%;
		padding: 0;
		margin: 0;
	 	}
.centro ul li{
	width: 50%;
}
.comentarios{
list-style: none;
background: black;
margin: 40px  auto;
color: white;
padding: 40px 0px;
width: 100%;
}
.comentarios h1{
	margin: 46px 48px;
}
.comentarios textarea{
	width: 100%;
	height: 300px;
}
footer{
	width: 100%;
	margin-left: -10px;
	padding: 0;
}
footer p{
	width: 100%;
	font-size: 14px;
	margin:0px 0px;
}
}
